.header{
    padding-top: 40px;
    padding-bottom: 89px;
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-auth{
        display: flex;
        align-items: center;
        gap: 0 30px;
        text-transform: capitalize;
    }
    &-singin{
        font-weight: 500;
        color: $heading-color;
    }
    &-singup{
        font-weight: 500;
        padding: 13px 35px;
        color: $primary-color;
        border: 1px solid;
        border-radius: 50px;
    }
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 40px;
    &-link{
        color: inherit;
    }
}
@media (max-width: 1023px){
    .menu{
        display: none;        
    }
    .header{
        padding-top: 25px;
        padding-bottom: 50px;
    }
}