.button{
    display: inline-block;
    padding: 13px 40px;
    border-radius: 50px;
    font-family: $font;
    line-height: 1;
    cursor: pointer;
    border: none;
    outline: none;
    &--outline{
        background-color: transparent;
        color: $primary-color;
        font-weight: 500;
        border: 1px solid;
    }
    &--primary{
        background-color: $primary-color;
        color: white;
        font-weight: 700;
    }
    &--rounded{
        border-radius: 10px;
        padding: 17.5px 77.5px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 211.83px;
            height: 60px;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            background: rgba(255, 0, 0, 0.35);
            filter: blur(54px);
            border-radius: 10px;
        }
    }
    &--shadow{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 127.38px;
            height: 45px ;
            left: 50%;
            transform: translateX(-50%);
            top: 17px;
            background: rgba(245, 56, 56, 0.35);
            filter: blur(54px);
            border-radius: 60px;
        }
    }
}
@media (max-width: 767px){
    .button{
        padding: 13px 26px;
    }
}